<template>
  <div class="home">
    <logbook v-if="isAuthenticated" />
  </div>
</template>

<script>
// @ is an alias to /src
import Logbook from '@/components/LogBook.vue'
import Vuex from 'vuex'

export default {
  name: 'home',
  components: {
    Logbook
  },
  computed: {
    ...Vuex.mapGetters('auth', ['isAuthenticated', 'authUser']),
  },
  created () {
    if (!this.isAuthenticated) {
      console.log("unauth")
      this.$router.push({name: 'login'})
    }
  }
}
</script>
