<template>
    <div class="entry"  :class="{ dark: dark, light: !dark }" @click="showSummary = !showSummary">
        <div class="container">
            <div class="tags">
                <font-awesome-icon v-if="entry.ground_trainer_time" icon="gamepad" alt='Ground Trainer' />
                <font-awesome-icon v-if="entry.simulated_instrument_time" icon="gamepad" alt='Simulated Instrument'/>
                <font-awesome-icon v-if="entry.night_time" icon="cloud-moon" alt='Night' />
                <font-awesome-icon v-if="entry.pilot_in_command_time" icon="user" alt='PIC' />
                <font-awesome-icon v-if="entry.dual_received_time" icon="user-friends" alt='Dual'/>
            </div>
            <ul>
                <li class="text"><font-awesome-icon icon="stopwatch" /> {{parseFloat(entry.total_time).toFixed(1)}} &ndash; <font-awesome-icon icon="plane-departure" />{{entry.airport_depart}}  &rarr; <font-awesome-icon icon="plane-arrival" />{{entry.airport_arrive}} &ndash; {{entry.tail_number}} ({{entry.plane}})</li>
                <li class="text"> <small>{{entry.remarks}}</small> </li>
                <transition name="slide">
                    <li v-if="showSummary" class="child">
                        <flight-summary :entry="entry" />
                    </li>
                </transition>
            </ul>
        </div>
    </div>
</template>

<script>
import FlightSummary from '@/components/FlightSummary.vue'

export default {
    name: "FlightEntry",
    components: {
        FlightSummary,
    },
    props: {
        entry: {type: Object, required: true},
        dark: {type: Number, required: true}
    },
    data () {
        return {
            showSummary: false
        }
    }
}
</script>

<style scoped>
ul {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
}
li {
    list-style: none;
}
.entry {
    padding-left: 0.5rem;
}
.dark {
    background-color: #badaeb ;
}
.light {
    background-color: #dcf0f5 ;
}

.text {
    color: #222;
}

.tags {
    float: right;
}

/*
    ---- SLIDE DOWN
*/
.slide-enter-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: ease-in;
   -webkit-transition-timing-function: ease-in;
   -o-transition-timing-function: ease-in;
   transition-timing-function: ease-in;
}

.slide-leave-active {
   -moz-transition-duration: 0.3s;
   -webkit-transition-duration: 0.3s;
   -o-transition-duration: 0.3s;
   transition-duration: 0.3s;
   -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
   transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter-to, .slide-leave {
   max-height: 100px;
   overflow: hidden;
}

.slide-enter, .slide-leave-to {
   overflow: hidden;
   max-height: 0;
}

/*
    ---- SLIDE DOWN
*/
</style>
