<template>
    <table>
        <tr v-if="entry.instructor">
            <th v-if="entry.instructor">Instructor</th>
            <td>{{entry.instructor}} </td>
        </tr>
        <tr v-if="entry.landings">
            <th>Landings</th>
            <td>{{entry.landings}}</td>
        </tr>
        <tr v-if="entry.airplane_sel_time">
            <th>Single Engine</th>
            <td>{{fix(entry.airplane_sel_time)}}</td>
        </tr>
        <tr v-if="entry.cross_country_time">
            <th>Cross Country</th>
            <td>{{fix(entry.cross_country_time)}}</td>
        </tr>
        <tr v-if="entry.day_time">
            <th>Day</th>
            <td>{{fix(entry.day_time)}}</td>
        </tr>
        <tr v-if="entry.night_time">
            <th>Night</th>
            <td>{{fix(entry.night_time)}}</td>
        </tr>
        <tr v-if="entry.simulated_instrument_time">
            <th>Sim. Inst.</th>
            <td>{{fix(entry.simulated_instrument_time)}}</td>
        </tr>
        <tr v-if="entry.ground_trainer_time">
            <th>Ground Trainer</th>
            <td>{{fix(entry.ground_trainer_time)}}</td>
        </tr>
        <tr v-if="entry.dual_received_time">
            <th>Dual</th>
            <td>{{fix(entry.dual_received_time)}}</td>
        </tr>
        <tr v-if="entry.pilot_in_command_time">
            <th>PIC</th>
            <td>{{fix(entry.pilot_in_command_time)}}</td>
        </tr>
    </table>
</template>

<script>
export default {
    name: 'FlightSummary',
    props: {
        entry: {type: Object, required: true}
    },
    methods: {
        fix (num) {
            return parseFloat(num).toFixed(1)
        }
    }
}
</script>


<style scoped>
th {
    text-align: right;
    padding-right: 1em;
    font-size: 0.7rem;
}
td {
    font-size: 0.7rem;
}
</style>
