<template>
    <div class="container">
        <h1>Logbook - {{authUser.username}}</h1>
        <button @click="downloadEntries"> do it</button>
        <table>
        <tr v-for="(entries, date, index) in entriesByDate" :key="date">
            <th class="date">
               {{moment(date).format('MM/DD')}} <br>
               {{moment(date).format('YYYY')}}
            </th>
            <td>
                <div
                    class="entry-container"
                    v-for="entry in entries"
                    :key="entry.flight_date + entry.to + entry.landings + parseFloat(entry.total_time)"
                >
                    <flight-entry :entry="entry" :dark="index % 2"/>
                </div>
            </td>
        </tr>
        </table>
    </div>
</template>

<script>
import Vuex from 'vuex'
import FlightEntry from '@/components/FlightEntry.vue'

export default {
    name: 'Logbook',
    components: {
        FlightEntry,
    },
    computed: {
        ...Vuex.mapGetters('logbook', ['entriesByDate']),
        ...Vuex.mapGetters('auth', ['authUser']),
    },
    methods: {
        ...Vuex.mapActions("logbook", ["downloadEntries"])
    }
}
</script>
<style scoped>
.date {
    background-color: #4dabc8;
}
th {
    vertical-align: middle;
    font-size: 0.7rem;
}
td {
    padding: 0;
}
table {
    border-spacing: 0px;
}
</style>