<template lang="html">
  <form class="login form">
    <div class="field">
      <label for="id_username">Username</label>
      <input
        v-model="username"
        type="text"
        placeholder="Username"
        autofocus="autofocus"
        maxlength="150"
        id="id_username">
    </div>
    <div class="field">
      <label for="id_password">Password</label>
      <input
        v-model="password"
        type="password"
        placeholder="Password"
        id="id_password">
    </div>
    <button
      @click.prevent="login"
      class="button primary"
      type="submit">
      Log In
    </button>
  </form>
</template>

<script>
import Vuex from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      username: '',
      password: ''
    }
  },
  methods: {
    ...Vuex.mapActions('auth', ['authenticate']),
    login () {
      try {
        this.authenticate({username: this.username, password: this.password})
      }
      finally {
        this.$router.push({name: 'home'})
      }
    }
  },
  computed: {
    ...Vuex.mapGetters('auth', ['isAuthenticated']),
  }
}
</script>

<style lang="css">
</style>
